#red{
  color:red;
}

#bold{
  color:red;
  font-weight:bold;
}

.dropdown-menu>a{
  padding: 15px 25px
}

#dropdownMenuButton{
  height: 50px;
  width: 200px
}

.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.cart-row {
    display: flex;
}

.cart-mall {
    width: 15%;
}

.cart-shopname {
    width: 15%;
}

.cart-shopaddress{
    width: 15%
}

.cart-product {
    width: 20%;
}

.cart-price {
    width: 15%;
}

.cart-quantity{
    width: 20%;
}


.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-purchase {
    text-align: end;
    display: block;
    margin: 20px 10px 40px auto;
    font-size: 1em;
